
.page.start-page{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: #fff;
  &.step2{
    justify-content: center;

  }

  .make-form{
    width: 100%;
    padding: 30px 0 0 0;
    form{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &>div{
        width: 45%;
        //height: 50px;
      }

      .input-box{
        height: 75px;
          label{
            line-height: 40px;
            font-size: 22px;
          }
        &.top{

        }
        &.left{
          display: flex;
          align-items: center;
          label{
            padding: 0 10px 0 0;
            line-height: 22px;
          }
        }
      }
      .checkbox-wrapper{
        height: 75px;
        &.top{

        }
        &.left{
          display: flex;
          align-items: center;
          p{
            padding: 0 10px 0 0;
            font-size: 22px;
            line-height: 22px;
          }
        }
      }

    }
  }


  h3{
    color: #006ec5;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
  p{
    color: #3e4450;
    font-size: 30px;
    font-weight: 400;
  }
}